<li id="js-item-<%= item.id %>"><%= item.name %>
  <% if item.user == current_user %>
    <%= link_to "Complete Task",[item.user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>

  <% end %>
  <%= display_time_remaining(item) %>
</li>
